.DS_Store
NinjaAttackStarter/NinjaAttack.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
NinjaAttackStarter/NinjaAttack.xcworkspace/xcuserdata/zacharycutler.xcuserdatad/UserInterfaceState.xcuserstate
settingsBackupText.txt
node_modules/
package-lock.json

# Xcode
*.pbxuser
*.mode*
xcuserdata/
*.perspective*
build/
DerivedData/

# Temporary files
*.moved-aside
*~
*.nib*
*.xib*

# Other
*.log
*.swift
