.DS_Store
NinjaAttackStarter/NinjaAttack.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
NinjaAttackStarter/NinjaAttack.xcworkspace/xcuserdata/zacharycutler.xcuserdatad/UserInterfaceState.xcuserstate
settingsBackupText.txt

