<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905609418317-t2lgvk50ok35ktf34gesqf3b31948rg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905609418317-t2lgvk50ok35ktf34gesqf3b31948rg9</string>
	<key>API_KEY</key>
	<string>AIzaSyCvgT12vmbxS4GQlTqHdVdGcfbShVQrHw8</string>
	<key>GCM_SENDER_ID</key>
	<string>905609418317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trainingstate.kalibr8</string>
	<key>PROJECT_ID</key>
	<string>calb-test</string>
	<key>STORAGE_BUCKET</key>
	<string>calb-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905609418317:ios:6f16b9cb6f279a829aee04</string>
	<key>DATABASE_URL</key>
	<string>https://calb-test.firebaseio.com</string>
</dict>
</plist>
